server:
  port: 8080

spring:
  application:
    name: lotto
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:lotto
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
